*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);

  /* Neutral */
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  --white: #ffff;
  --border-light: hsl(234deg 4% 84% / 50%);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-family: Montserrat-Bold;
  background-color: var(--Very-Light-Grayish-Blue);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.plans-toggle {
  text-align: center;
  margin: 30px auto 50px;
}

.plans-toggle__title,
.annually-plan,
.monthly-plan {
  color: var(--Grayish-Blue);
}
.plans-toggle__title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.plans-toggle__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  position: relative;
  width: 48px;
  height: 27px;
  margin: 0 15px;
  appearance: none;
  background: linear-gradient(var(--Linear-Gradient));
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input:checked[type='checkbox'] {
  background: linear-gradient(var(--Linear-Gradient));
}

input[type='checkbox']::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 50%;
  top: 3px;
  left: 5px;
  transition: left 0.3s;
}

input:checked[type='checkbox']::before {
  left: 23px;
}

.plans__container {
  max-width: 880px;
  margin: auto;
  display: grid;
  row-gap: 25px;
}

.plan {
  margin: auto;
  min-width: 290px;
  max-width: 295px;
  padding: 25px 15px;
  background-color: var(--white);
  box-shadow: 0 0 5px 1px #e7e7e7;
  border-radius: 10px;
  text-align: center;
}

.plan__name {
  color: var(--Grayish-Blue);
  font-size: 1.5rem;
  margin: 0;
}

.plan__price {
  color: var(--Dark-Grayish-Blue);
  font-size: 5.5rem;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.plan__price::before {
  content: '$';
  font-size: 3.5rem;
  justify-self: end;
  align-self: center;
  margin-right: 3px;
}

.plan__price span {
  justify-self: start;
}

.plan__button {
  width: 100%;
  margin-top: 25px;
  padding: 13px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Montserrat-Bold;
  color: var(--Very-Light-Grayish-Blue);
  background: linear-gradient(var(--Linear-Gradient));
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.information {
  border-top: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);
}

.information p {
  margin: 0;
  padding: 15px 0;
  color: var(--Grayish-Blue);
}

.information__users {
  border-top: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);
}

@media screen and (min-width: 660px) {
  .plans__container {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    column-gap: 4px;
  }
}

@media screen and (min-width: 1220px) {
  .plans__container {
    grid-template-columns: repeat(auto-fit, minmax(290px, 300px));
    grid-template-rows: 25px 1fr;
    column-gap: 8px;
  }

  .basic-plan {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .professional-plan {
    grid-column: 2 / 3;
  }

  .master-plan {
    grid-column: 3 / -1;
    grid-row: 2 / 3;
  }
}
